<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
	<session-factory>
		<!-- local connection properties -->
		<property name="hibernate.connection.datasource">
			java:comp/env/jdbc/beacon
		</property>

		<!-- property name="hibernate.connection.pool_size"></property -->
		<!-- dialect for MySQL -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.use_outer_join">true</property>
		<!--
			<property name="hibernate.transaction.factory_class">
			org.hibernate.transaction.JTATransactionFactory
			</property>
			<property name="jta.UserTransaction">
			java:comp/UserTransaction
			</property>
		//-->
			
		
		<mapping resource="Address.hbm" />		
		<mapping resource="Addresscontact.hbm" />						
										
		<mapping resource="Quohdr.hbm" />
		<mapping resource="Quoprod.hbm" />		
		<mapping resource="Quocharge.hbm" />		
		<mapping resource="Quomov.hbm" />		
		<mapping resource="Quocost.hbm" />		
		<mapping resource="Quonote.hbm" />		
		<mapping resource="Quoapprove.hbm" />
		<mapping resource="Quonotecust.hbm" />	
		<mapping resource="Quofile.hbm" />		
		
		<mapping resource="Orderhdr.hbm" />
		<mapping resource="Orderprod.hbm" />		
		<mapping resource="Ordercharge.hbm" />		
		<mapping resource="Ordermov.hbm" />		
		<mapping resource="Ordercost.hbm" />		
		<mapping resource="Ordernote.hbm" />
		<mapping resource="Orderfile.hbm" />
		<mapping resource="Ordernotecust.hbm" />	
				
		<mapping resource="Jobhdr.hbm" />	
		<mapping resource="Jobmov.hbm" />		
		<mapping resource="Jobcost.hbm" />		
						
		<mapping resource="Ediinbound.hbm" />
		<mapping resource="Edioutbound.hbm" />		
		<mapping resource="Edibatch.hbm" />
		<mapping resource="Edipartner.hbm" />
		<mapping resource="Edioutbounderror.hbm" />

		<mapping resource="Printhdr.hbm" />
		<mapping resource="Printdtl.hbm" />

		<mapping resource="Location.hbm" />	
		<mapping resource="Unit.hbm" />				
		<mapping resource="Systemcode.hbm" />	
		
		<mapping resource="Sihdr.hbm" />
		<mapping resource="Sidtl.hbm" />
		<mapping resource="Sidocno.hbm" />

		<mapping resource="Pohdr.hbm" />
		<mapping resource="Podtl.hbm" />
		<mapping resource="Podtlrcvd.hbm" />
		<mapping resource="Poapprove.hbm" />
		<mapping resource="Ponote.hbm" />

		<mapping resource="Pihdr.hbm" />
		<mapping resource="Pidtl.hbm" />
		<mapping resource="Pidtlcost.hbm" />		
				

		<mapping resource="Contract.hbm" />						
		<mapping resource="Contracteqp.hbm" />
		<mapping resource="Contracteqploc.hbm" />
		<mapping resource="Contracteqplocotc.hbm" />
		<mapping resource="Contractagent.hbm" />

		<mapping resource="Onhire.hbm" />						
		<mapping resource="Onhireeqp.hbm" />
		<mapping resource="Onhireeqpotc.hbm" />

		<mapping resource="Offhire.hbm" />						
		<mapping resource="Offhireeqp.hbm" />
		<mapping resource="Offhireeqpotc.hbm" />
		
		<mapping resource="Financehdr.hbm" />						
		<mapping resource="Financedtl.hbm" />	
						
		<mapping resource="Docno.hbm" />

		<mapping resource="Mandrhdr.hbm" />
		<mapping resource="Mandrdtl.hbm" />


		<!-- account interface specific files -->		
		<mapping resource="Aiout.hbm" />
		<mapping resource="Aibatch.hbm" />
		<mapping resource="Aimappingcode.hbm" />


		<!-- depot system specific files -->
		<mapping resource="Dsingate.hbm" />
		
		<!-- alert specific files -->
		<mapping resource="Alert.hbm" />
		<mapping resource="Task.hbm" />
		
		<!-- DMS -->
		<mapping resource="Xdocument.hbm" />
		<mapping resource="Xdocumentversion.hbm" />	
		
																				
	</session-factory>
	
	
	
</hibernate-configuration>
